.imageContainer{
    column-count:5;
    column-gap:0px;
}

.image{
    padding: 1px;
    width: 100% ;
    /* height: auto !important;  */
    display: flex;
}
.slideShowImage{
    height: 400px;
    z-index: 2;
    margin: auto;
    filter: blur(0px);
    margin-top: -450px;
    display: flex;
    border-radius: 20px;
}
.slideShowImageContainer{
    /* margin-top:-100px; */
    height: 500px;
    background-image: URL("https://source.unsplash.com/5P91SF0zNsI/740x494");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
}